@{
  Layout = "_Layout";
}
<div class="container">
<br>
<h1>Hell State University</h1>
<h3>Home of the Lucky Lucifers </h3>
<br>
<p><img src="./img/emoji_02.png" alt="Flame Emoji" width="35" /> &nbsp @Html.ActionLink("Departments", "Index", "Departments")</p>
<p><img src="./img/emoji_02.png" alt="Flame Emoji" width="35" /> &nbsp @Html.ActionLink("Course Catalog", "Index", "Courses")</p> 
<p><img src="./img/emoji_02.png" alt="Flame Emoji" width="35" /> &nbsp @Html.ActionLink("Student List", "Index", "Students")</p> 
</div>
