@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
<div class="container">
<br>
<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<br>
<p>@Html.ActionLink("Back to Students", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>